html
    head
        link(rel='stylesheet', href='js/b/bootstrap/dist/css/bootstrap.css')
        script(src="js/b/jquery/dist/jquery.min.js")
        script(src="js/b/bootstrap/dist/js/bootstrap.js")
        script(src="js/bundle.js")
        title Currency Convertor
    body
        .container
            .row
                .col-md-12
                    
            .row
                .col-md-3
                .col-md-6
                    .panel.panel-default
                        .panel-heading
                            h3 Currency Convertor
                        .panel-body
                            .row
                                .col-md-5
                                    .form-group
                                        input.in.form-control(type="text", placeholder="Amount")
                                .col-md-3
                                    .form-group
                                        select.in-currency.form-control
                                .col-md-1
                                    span.lead  to 
                                .col-md-3
                                    .form-group
                                        select.out-currency.form-control
                            .form-group
                                .btn.btn-primary.btn-block.submit Convert
            .row
                .col-md-3
                .col-md-2
                    
            .row
                .col-md-4
                .col-md-5
                    h2.out!= "= ..."
                    h3.out-rate!= ""